{
  "env": {
    "esmBundled": {
      "presets": [
        ["@babel/env", {
        "targets": "> 0.25%, not dead"
      }], "@babel/typescript"]
    },
    "cjs": {
      "presets": [
        ["@babel/env", {
        "modules":"commonjs"
      }], "@babel/typescript"]
    }
  },
  "plugins": [
    "@babel/plugin-transform-typescript",
    "transform-class-properties"
  ]
}
